@model N01609602_ShreyPatel_PassionProject.Models.Collaborator
@{
    ViewBag.Title = "Edit Collaborator";
}

<a href="/Collaborator/List" class="btn btn-secondary">Back To Collaborators</a>
<hr />
<h2>Edit Collaborator</h2>

<form action="/Collaborator/Update/@Model.CollaboratorId" method="POST">
    <input type="hidden" name="CollaboratorId" value="@Model.CollaboratorId" />
    <div class="mb-3">
        <label for="CollaboratorFirstName" class="form-label">First Name</label>
        <input autocomplete="off" value="@Model.CollaboratorFirstName" type="text" required class="form-control" id="CollaboratorFirstName" name="CollaboratorFirstName" placeholder="Enter first name here" aria-describedby="CollaboratorFirstName">
    </div>
    <div class="mb-3">
        <label for="CollaboratorLastName" class="form-label">Last Name</label>
        <input autocomplete="off" value="@Model.CollaboratorLastName" type="text" required class="form-control" id="CollaboratorLastName" name="CollaboratorLastName" placeholder="Enter last name here" aria-describedby="CollaboratorLastName">
    </div>
    <div class="mb-3">
        <label for="CollaboratorEmail" class="form-label">Email</label>
        <input autocomplete="off" value="@Model.CollaboratorEmail" type="email" required class="form-control" id="CollaboratorEmail" name="CollaboratorEmail" placeholder="Enter email here" aria-describedby="CollaboratorEmail">
    </div>
    <div class="mb-3">
        <label for="CollaboratorRole" class="form-label">Role</label>
        <select class="form-select" value="@Model.CollaboratorRole" required id="CollaboratorRole" name="CollaboratorRole" aria-describedby="CollaboratorLastName">
            <option value="Project Manager" selected>Project Manager</option>
            <option value="Web Developer">Web Developer</option>
            <option value="UX Designer">UX Designer</option>
            <option value="Database Manager">Database Manager</option>
            <option value="Human Resources">Human Resources</option>
            <option value="Sales Executive">Sales Executive</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



