﻿@model N01609602_ShreyPatel_PassionProject.Models.ViewModels.ProjectActivity

@{
    ViewBag.Title = "Project Details";
}

<a href="/Project/List" class="btn btn-secondary">Back To Projects</a>
<hr />
<div class="d-flex align-items-center gap-2">
    <h2>Project details</h2>
    <div class="d-flex align-items-center gap-4 ms-auto">
        <a href="/Project/Edit/@Model.selectedProject.ProjectId" class="btn btn-success">Edit</a>
        <a href="/Project/ConfirmDelete/@Model.selectedProject.ProjectId" class="btn btn-danger">Delete</a>
    </div>
</div>
<p class="text-dark">Project Name: <span class="fw-bold">@Model.selectedProject.ProjectName</span></p>
<p class="text-dark">Project Description: <span class="fw-bold">@Model.selectedProject.ProjectDescription</span></p>
<p class="text-dark">Project Due Date: <span class="fw-bold">@Model.selectedProject.DueDate</span></p>

<hr />

<h2>Activities</h2>
@if (Model.activities.Count() <= 0)
{
    <p>There are no activities assigned to this project</p>
    <a class="btn btn-primary" href="/Activity/List">Go To Activities</a>
}
<div class="d-flex align-items-start gap-4 flex-wrap mt-4">
    @foreach (var activity in Model.activities)
    {
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title"><a href="/Activity/Details/@activity.ActivityId" class="text-dark">@activity.ActivityName</a></h5>
                <p class="card-text">@activity.ActivityDescription</p>
                <p class="text-dark">Assigned To : <br /> <span class="fw-bold"><a href="/Collaborator/Details/@activity.CollaboratorId">@activity.CollaboratorFirstName @activity.CollaboratorLastName</a></span></p>
            </div>
        </div>
    }
</div>